@model ExamControl.Models.Exam.RegisterExamModel

<div class="col-sm">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Tijd</th>
            <th scope="col">Lokaal</th>
            <th scope="col">Duur</th>
            <th scope="col">Inschrijven</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var row in Model.Exams)
        {
            <tr>
                <td>@row.ExamDateTime.ToString("dd-MM-yyyy")</td>
                <td>@row.ExamDateTime.ToString("HH:mm")-@row.ExamDateTime.Add(row.ExamDuration).ToString("HH:mm")</td>
                <td>@row.ClassroomCode</td>
                <td>@row.ExamDuration.TotalMinutes min</td>
                <td> <a href="/Exam/RegisterForExam/@row.ExamId" class="btn btn-primary">Inschrijven</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
