@model ExamControl.Models.Exam.InsertGradesModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/jquery.unobtrusive")
}

<h2>Cijfers registreren</h2>

@using (Ajax.BeginForm("GetInsertableGradeRegistrations", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divInsertableGradeRegistrations" }))
{
    <div class="form-row align-items-center">
        <div class="col-auto">
            @Html.DropDownListFor(m => m.SelectedExamSubject, ViewBag.ExamSubjects as IEnumerable<SelectListItem>, "Selecteer vak...", new { @class = "form-control" })
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Selecteer</button>
        </div>
    </div>
}

<br />

<div id="divInsertableGradeRegistrations" class="row"></div>

@*<div class="row">
        <form>
            <div class="col-sm">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Selecteer Vak</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Keuze...</option>
                        <option>ASP C# .NET</option>
                        <option>RUP</option>
                        <option>Engels 1</option>
                    </select>
                </div>
            </div>
        </form>
    </div>


    <hr />

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Vak</th>
                <th scope="col">Naam Student</th>
                <th scope="col">Studentnummer</th>
                <th scope="col">Aanwezigheid</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>ASP C# .NET</td>
                <td>Freek de Groen</td>
                <td>00212538</td>
                <td>
                    <div class="form-group">
                        <input class="form-control" id="exampleFormEnter" placeholder="voer getal in">

                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>ASP C# .NET</td>
                <td>Arie Schouten</td>
                <td>00211095</td>
                <td style="width: 150px;">
                    <div class="form-group">
                        <input class="form-control" id="exampleFormEnter" placeholder="voer getal in">

                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>ASP C# .NET</td>
                <td>Frank Plattel</td>
                <td>00209520</td>
                <td>
                    <div class="form-group">
                        <input class="form-control" id="exampleFormEnter" placeholder="voer getal in">
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>ASP C# .NET</td>
                <td>Koen Kukken</td>
                <td>00210904</td>
                <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Green_tick_pointed.svg/768px-Green_tick_pointed.svg.png" width="16px" height="16px" /></td>

            </tr>
        </tbody>
    </table>

    <div class="float-right btnContainer">
        <button type="submit" class="btn btn-secondary">terug</button>
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </div>*@