@model ExamControl.Models.Exam.RegisterExamModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/jquery.unobtrusive")

}



<div class="container" style="margin-top: 1em;">
    <h1>
        Inschrijven tentamen
    </h1>
    @using (Ajax.BeginForm("GetRegisterableExams", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divRegisterableExams" }))
    {
        <div class="form-row align-items-center">
            <div class="col-auto">
                @Html.DropDownListFor(m => m.SelectedExamSubject, ViewBag.ExamSubjects as IEnumerable<SelectListItem>, "Selecteer vak...", new { @class = "form-control" })
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Selecteer</button>
            </div>
        </div>
    }

    <br />
    
    

        <div id="divRegisterableExams" class="row"></div>
    
    
</div>